<div class="login-form">
  <h1>
    Signup
  </h1>
  <%= form_with model: @user, url: sign_up_path do |form| %>
  <% if form.object.errors.any? %>
    <div>Error: <%= form.object.errors.full_messages.first %></div>
  <% end %>
    <div class="labe-field-group">
      <%= form.label :username %>
      <%= form.text_field :username, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter how you want to be called", value: params[:name] %>
    </div>
    <div class="labe-field-group">
      <%= form.label :email_address %>
      <%= form.email_field :email_address, required: true,  autocomplete: "email", placeholder: "Enter your email address", value: params[:email_address] %>
    </div>
    <div class="labe-field-group">  
      <%= form.label :password %>
      <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Enter your password", maxlength: 72 %>
    </div>
    <div class="labe-field-group">  
      <%= form.label :password_confirmation  %>
      <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Enter your password", maxlength: 72 %>
    </div>
    <%= form.submit "Sign up" %>
    <%= form.button "Sign up", class: "button button--primary button-sign-in"  %>
  <% end %>
  <div class="additional-links">
    <%= link_to "Forgot password?", new_password_path %>
  </div>
  
</div>
